description = "Default layout"
[seccionuno]
[secciondos]
[secciontres]
[seccioncuatro]
[seccioncinco]
[seccionsiete]

==
<?
use Illuminate\Support\Facades\Hash;
use Invitaciones\Landing\Models\SeccionCuatro;
function onStart(){
    $c = new SeccionCuatro;
    $this['comidas'] = $c->listPreferenciaComida('', '', '');
    $this['bebidas'] = $c->listPreferenciaBebida('', '', '');
    $this['asistencias'] = $c->listAsistencia('', '', '');
    $this['has_audio'] = false;
    $this['invi'] = null;
    if(file_exists(storage_path('app').'/media/i-say-a-little-prayer-for-you-instrumental-version128-kbps.mp3')){
        $this['has_audio'] = true;
        $this['url_audio'] = \Url::to(\System\Classes\MediaLibrary::url('i-say-a-little-prayer-for-you-instrumental-version128-kbps.mp3'));
    }
    if(isset(request()->code)){
        $code = request()->code;
        $sc = SeccionCuatro::where('token', $code)->first();
        if(!is_null($sc)){
            if(($sc->active == true && $sc->estatus == 2) || ($sc->active == null && $sc->estatus == 2)){
                $this['blockForm'] = false;
                $sc->estatus = 4;
                $sc->active = true;
                $sc->save();
                $this['invi'] = $sc;
            } elseif($sc->active == true && $sc->estatus == 4) {
                $this['blockForm'] = true;
                $this['invi'] = $sc;
            } elseif(($sc->active == false && $sc->estatus == 5) || ($sc->active == false && $sc->estatus == 6)) {
                $this['blockForm'] = true;
                $this['invi'] = $sc;
            }
        }
    } else {
        $this['blockForm'] = true;
    }
}
?>
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boda de {{ seccionuno.dataSeccion.nombre_novio }} & {{ seccionuno.dataSeccion.nombre_novia }}</title>
        <link href="{{ [
            'assets/less/theme.scss',
            'assets/css/animate.min.css',
            'assets/css/swiper-bundle.min.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body>
        <!-- NAV HEADER -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navigation animated" id="top-nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <!-- <h2 style="font-family: 'Great Vibes', cursive; letter-spacing: 4px;margin-bottom: 0px;font-size: 2.4rem; color: {{ seccionuno.dataSeccion.color_titulo }}">{{ seccionuno.dataSeccion.nombre_novio }} & {{ seccionuno.dataSeccion.nombre_novia }}</h2> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="menuItems">
                    <ul class="navbar-nav" id="top-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#dondeycuando">Dónde & Cuándo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#asistencia">Confirmar asistencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#codigo-vestimenta">Código de vestimenta</a>
                        </li>
                        {% if seccionsiete.dataSeccion %}
                            <li class="nav-item">
                                <a class="nav-link" href="#papas-novios">Papás de los novios</a>
                            </li>
                        {% endif %}
                        {% if seccioncinco.dataSeccion|length > 0 %}
                            <li class="nav-item">
                                <a class="nav-link" href="#fotos">Fotos</a>
                            </li>
                        {% endif %}
                        {% if secciondos.dataSeccion|length > 0 %}
                            <li class="nav-item">
                                <a class="nav-link" href="#hospedaje-recomendado">Hospedaje Recomendado</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#mesa-regalos">Mesa de regalos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#redes-sociales">Redes sociales</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- SECCIOUNO -->
        <section id="inicio" class="hero-area {% if not seccionuno.dataSeccion.background %} bg-1 {% endif %}" {% if seccionuno.dataSeccion.background %} style="background-image: url({{seccionuno.dataSeccion.background.path}});background-repeat: no-repeat;background-position: center;background-size: cover;" {% endif %}>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class="intro-circulo position-absolute top-50 start-50 translate-middle">
                                {% component "seccionuno" %}
                            </div>
                        </div>
                    </div>
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- header close -->

        <!-- SECCIONTRES -->
        <div id="dondeycuando" class="w-100">
            {% component 'secciontres' %}
        </div>
        
        <!-- SECCIONCUATRO -->
        <section id="asistencia" class="reservacion-section mt-5">
            {% if invi['estatus'] == 4 %}
                <form id="deseos" method="POST" class="form-reservacion" data-request="seccioncuatro::onSave" data-request-validate data-request-flash data-request-confirm="Deseas enviar la información?">
                    <div class="wrap-send">
                        <div class="enviando">
                            <div class="box">
                                <div class="border one"></div>
                                <div class="border two"></div>
                                <div class="border three"></div>
                                <div class="border four"></div>
                                <div class="line one"></div>
                                <div class="line two"></div>
                                <div class="line three"></div>
                            </div>
                        </div>
                    </div>
                    <div id="confirmacionPartial">
                        <div class="iniciales">
                            <span>G</span>
                            <div class="divisor"></div>
                            <span>X</span>
                        </div>
                        <h4>Confirma tu Asistencia</h4>
                        <div class="row mt-5 mb-3">
                            <div class="col-md-12">
                                <input required="" type="text" placeholder="· Nombre completo" class="usr-nombre" value="{{ invi['nombre_completo'] }}" readonly disabled>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <input type="email" placeholder="· Email" class="usr-correo" value="{{ invi['email'] }}" readonly disabled>
                            </div>
                            <div class="col-md-6">
                                <input type="tel" placeholder="· Teléfono" class="usr-telefono" pattern="[5]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" name="user_telefono" maxlength="10" minlength="10" value="{{ invi['celular'] }}" readonly disabled>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <select name="asistencia" id="asistencia" class="asistencia mb-1">
                                    <option value="" disabled="" selected="">· Asistencia</option>
                                    {% for key, asistencia in asistencias %}
                                        <option value="{{ key }}">{{ asistencia }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="asistencia"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select name="proteina" id="proteina" class="proteina mb-1">
                                    <option value="" disabled="" selected="">· Preferencia de proteina</option>
                                    {% for key, comida in comidas %}
                                        <option value="{{ key }}">{{ comida }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="proteina"></div>
                            </div>
                            <div class="col-md-6">
                                <select name="bebida" id="bebida" class="bebida mb-1">
                                    <option value="" disabled="" selected="">· Preferencia de Bebidas</option>
                                    {% for key, bebida in bebidas %}
                                        <option value="{{ key }}">{{ bebida }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="bebida"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea type="text" placeholder="· Dedica un mensaje..." class="deseos-invitados mb-1" name="mensaje"></textarea>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="mensaje"></div>
                            </div>
                        </div>
                        <button type="submit" class="btn-grl">Confirmar</button>
                    </div>
                </form>
            {% elseif invi['estatus'] == 5 %}
                <form id="deseos" class="form-reservacion">
                    <div class="wrap-send">
                        <div class="enviando">
                            <div class="box">
                                <div class="border one"></div>
                                <div class="border two"></div>
                                <div class="border three"></div>
                                <div class="border four"></div>
                                <div class="line one"></div>
                                <div class="line two"></div>
                                <div class="line three"></div>
                            </div>
                        </div>
                    </div>
                    <div id="confirmacionPartial">
                        <div class="iniciales">
                            <span>G</span>
                            <div class="divisor"></div>
                            <span>X</span>
                        </div>
                        <h4>Hola <strong>{{ invi['nombre_completo'] }}</strong>, agradecemos por confirmar tu asistencia.</h4>
                        <div class="row mt-5 mb-3">
                            <div class="col-md-12">
                                <input required="" type="text" placeholder="· Nombre completo" class="usr-nombre" value="{{ invi['nombre_completo'] }}" readonly disabled>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <input type="email" placeholder="· Email" class="usr-correo" value="{{ invi['email'] }}" readonly disabled>
                            </div>
                            <div class="col-md-6">
                                <input type="tel" placeholder="· Teléfono" class="usr-telefono" pattern="[5]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" maxlength="10" minlength="10" value="{{ invi['celular'] }}" readonly disabled>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <select id="asistencia" class="asistencia mb-1" readonly disabled>
                                    {% for key, asistencia in asistencias %}
                                        <option value="{{ key }}" {% if invi['asistencia'] == key %} selected {% endif %}>{{ asistencia }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select id="proteina" class="proteina mb-1" readonly disabled>
                                    {% for key, comida in comidas %}
                                        <option value="{{ key }}" {% if invi['preferencia_comida'] == key %} selected {% endif %}>{{ comida }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select id="bebida" class="bebida mb-1" readonly disabled>
                                    {% for key, bebida in bebidas %}
                                        <option value="{{ key }}" {% if invi['preferencia_bebidas'] == key %} selected {% endif %}>{{ bebida }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea type="text" placeholder="· Dedica un mensaje..." class="deseos-invitados mb-1" readonly disabled>{{ invi['mensaje'] }}</textarea>
                            </div>
                        </div>
                    </div>
                </form>
            {% elseif invi['estatus'] == 6 %}
                <form id="deseos" class="form-reservacion">
                    <div class="wrap-send">
                        <div class="enviando">
                            <div class="box">
                                <div class="border one"></div>
                                <div class="border two"></div>
                                <div class="border three"></div>
                                <div class="border four"></div>
                                <div class="line one"></div>
                                <div class="line two"></div>
                                <div class="line three"></div>
                            </div>
                        </div>
                    </div>
                    <div class="iniciales">
                        <span>G</span>
                        <div class="divisor"></div>
                        <span>X</span>
                    </div>
                    <br>
                    <h4>Código NO valido.</h4>
                    <br>
                    <!-- </div> -->
                </form>
            {% else %}
                <form id="deseos" class="form-reservacion">
                    <div class="wrap-send">
                        <div class="enviando">
                            <div class="box">
                                <div class="border one"></div>
                                <div class="border two"></div>
                                <div class="border three"></div>
                                <div class="border four"></div>
                                <div class="line one"></div>
                                <div class="line two"></div>
                                <div class="line three"></div>
                            </div>
                        </div>
                    </div>
                    <div id="confirmacionPartial">
                        <div class="iniciales">
                            <span>G</span>
                            <div class="divisor"></div>
                            <span>X</span>
                        </div>
                        <h4>Confirma tu Asistencia</h4>
                        <div class="row mt-5 mb-3">
                            <div class="col-md-12">
                                <input required="" type="text" placeholder="· Nombre completo" class="usr-nombre" readonly disabled>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6"> 
                                <input type="email" placeholder="· Email" class="usr-correo" readonly disabled>
                            </div>
                            <div class="col-md-6"> 
                                <input type="tel" placeholder="· Teléfono" class="usr-telefono" pattern="[5]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" maxlength="10" minlength="10" readonly disabled>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <select id="asistencia" class="asistencia mb-1">
                                    <option value="" disabled="" selected="">· Asistencia</option>
                                    {% for key, asistencia in asistencias %}
                                        <option value="{{ key }}">{{ asistencia }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="asistencia"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select id="proteina" class="proteina mb-1">
                                    <option value="" disabled="" selected="">· Preferencia de proteina</option>
                                    {% for key, comida in comidas %}
                                        <option value="{{ key }}">{{ comida }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="proteina"></div>
                            </div>
                            <div class="col-md-6">
                                <select id="bebida" class="bebida mb-1">
                                    <option value="" disabled="" selected="">· Preferencia de Bebidas</option>
                                    {% for key, bebida in bebidas %}
                                        <option value="{{ key }}">{{ bebida }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="bebida"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea type="text" placeholder="· Dedica un mensaje..." class="deseos-invitados mb-1" name="mensaje"></textarea>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="mensaje"></div>
                            </div>
                        </div>
                        <button type="button" class="btn-grl">Confirmar</button>
                    </div>
                </form>
            {% endif %}
        </section>

        <!-- SECCIONSEIS CODIGO DE VESTIMENTA -->
        <section class="min-vh-100 seccion-cod-vest" id="codigo-vestimenta">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-5 mb-5">
                        <div class="text-center">
                            <h1 class="display-1 title-seccion-cod-vest">Código de Vestimenta</h1>
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col-md-4">
                                    <img class="img-fluid" src="{{ 'assets/images/mujeres.jpg' | theme }}">
                                    </div>
                                    <div class="col-md-4">
                                    <img class="img-fluid" src="{{ 'assets/images/hombres.jpg' | theme }}">
                                    </div>
                                    <div class="col-md-4">
                                    <img class="img-fluid" src="{{ 'assets/images/accesorios.jpg' | theme }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- header close -->

        <!-- SECCIONSIETE PAPAS DE LOS NOVIOS -->
        {% if seccionsiete.dataSeccion %}
            <section class="min-vh-100 seccion-papas-novios" id="papas-novios">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <div class="row justify-content-center">
                                <div class="col-12 mt-3">
                                    <div class="text-center">
                                        <h1 class="display-1 title-seccion-papas mt-4">Papás de la Novia</h1>
                                    </div>
                                </div>
                                <div class="card col-6 col-md-5 mx-2 card-landing">
                                    <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                                        <img src="{{ seccionsiete.dataSeccion.foto_papa_novia.path }}" class="card-img-top img-cover" alt="Raeesh">
                                    </div>
                                    <div class="card-body text-center">
                                        <h5 class="card-title title-papas-novios">{{ seccionsiete.dataSeccion.nombre_papa_novia }}</h5>
                                    </div>
                                </div>
                                <div class="card col-6 col-md-5 mx-2 card-landing">
                                    <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                                        <img src="{{ seccionsiete.dataSeccion.foto_mama_novia.path }}" class="card-img-top img-cover" alt="Raeesh">
                                    </div>
                                    <div class="card-body text-center">
                                        <h5 class="card-title title-papas-novios">{{ seccionsiete.dataSeccion.nombre_mama_novia }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row justify-content-center">
                                <div class="col-12 mt-3">
                                    <div class="text-center">
                                        <h1 class="display-1 title-seccion-papas mt-4">Papás del Novio</h1>
                                    </div>
                                </div>
                                <div class="card col-6 col-md-5 mx-2 card-landing">
                                    <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                                        <img src="{{ seccionsiete.dataSeccion.foto_papa_novio.path }}" class="card-img-top img-cover" alt="Raeesh">
                                    </div>
                                    <div class="card-body text-center">
                                        <h5 class="card-title title-papas-novios">{{ seccionsiete.dataSeccion.nombre_papa_novio }}</h5>
                                    </div>
                                </div>
                                <div class="card col-6 col-md-5 mx-2 card-landing">
                                    <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                                        <img src="{{ seccionsiete.dataSeccion.foto_mama_novio.path }}" class="card-img-top img-cover" alt="Raeesh">
                                    </div>
                                    <div class="card-body text-center">
                                        <h5 class="card-title title-papas-novios">{{ seccionsiete.dataSeccion.nombre_mama_novio }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- header close -->
        {% endif %}

        <!-- SECCIONCINCO -->
        {% if seccioncinco.dataSeccion|length > 0 %}
            <section class="min-vh-100 seccion-fotos" id="fotos" style="background-image: url({{ 'assets/images/background_seccion_dos.jpg' | theme }});">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mt-5 mb-5">
                            <div class="text-center">
                                <h1 class="display-1 title-seccion-fotos">Galería de Fotos</h1>
                            </div>
                        </div>
                    </div>
                    {% component 'seccioncinco' %}
                </div>
            </section><!-- header close -->
        {% endif %}

        <!-- SECCIONDOS HOSPEDAJE RECOMENDADO -->
        {% if secciondos.dataSeccion|length > 0 %}
            <section class="min-vh-100 seccion-hospedaje" id="hospedaje-recomendado">
                <div class="container mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                {% component "secciondos" %}
                            </div>
                        </div>
                    </div><!-- .row close -->
                </div><!-- .container close -->
            </section><!-- header close -->
        {% endif %}

        <!-- SECCIONOCHO MESA DE REGALOS -->
        <section class="min-vh-100 seccion-mesa" id="mesa-regalos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-5 mb-5">
                        <div class="text-center">
                            <h1 class="display-1 title-seccion-mesa">Mesa de Regalos</h1>
                        </div>
                        <div class="text-center">
                            <p class="display-3 sub-title-seccion-dos">El mejor regalo que podemos recibir es contar con tu presencia en el día más importante de nuestras vidas, pero si gustas regalarnos algo, aqui te dejamos algunas opciones:</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="card col-md-4 mx-2 card-mesa">
                            <a target="_blank" href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51147759">
                                <div class="card-body text-center">
                                    <img width="90%" src="{{ 'assets/images/liverpool-logo.svg' | theme }}">
                                </div>
                            </a>
                        </div>
                        <div class="card col-md-4 mx-2 card-mesa">
                            <a target="_blank" href="https://www.elpalaciodehierro.com/buscar?eventId=377219">
                                <div class="card-body text-center">
                                    <img width="80%" src="{{ 'assets/images/el-palacio-de-hierro.svg' | theme }}">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- header close -->

        <!-- SECCION REDES SOCIALES -->
        <section class="min-vh-100 seccion-redes" id="redes-sociales">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-5 mb-5">
                        <div class="text-center">
                            <h1 class="display-1 title-seccion-redes"><span>#</span>bodagx23</h1>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-4 mx-2 text-center">
                            <a class="" href="https://www.instagram.com/explore/tags/bodagx23/" target="_blank" rel="noopener noreferrer" style="font-family: var(--fuente-textos);font-size: 1.5rem;color: #333;font-weight: 900;">
                                <h3>Ver en Instagram</h3>
                            </a>
                            <div class="card-body text-center">
                                <img src="{{ 'assets/images/instagram-icon.png' | theme }}" alt="" width="85px">
                            </div>
                        </div>
                        <!-- <div class="card col-md-4 mx-2 card-redes">
                            <a class="" href="https://www.instagram.com/explore/tags/bodagx23/" target="_blank" rel="noopener noreferrer" style="font-family: var(--fuente-textos);font-size: 1.5rem;color: #fff;font-weight: 900;">
                                <div class="card-body text-center">
                                    <img src="{{ 'assets/images/facebook.svg' | theme }}" alt="" width="85px">
                                </div>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>


        {% if has_audio %}
            <div class="musicaOff" target="_blank" id="sonidoMusicaOff" style="cursor: pointer;">
                <img src="{{ 'assets/images/volume-up-solid.svg' | theme }}" alt="">
            </div>
            <div class="musicaOn" target="_blank" id="sonidoMusicaOn" style="cursor: pointer;">
                <img src="{{ 'assets/images/musica-on-4.gif' | theme }}">
            </div>
            <audio id="audioBoda" loop="" class="d-none">
                <source src="{{ url_audio }}" type="audio/mpeg">
            </audio>
        {% endif %}

        <script src="{{ [
            '@jquery',
            'assets/js/bootstrap.bundle.min.js',
            'assets/js/app.js',
            'assets/js/swiper-bundle.min.js'
        ]|theme }}"></script>

        {% framework extras %}

        <script type='text/javascript'>
            contador('{{secciontres.dataSeccion.fecha_celebracion}}');

            var seccionCinco = new Swiper(".seccion-cinco", {
                effect: "coverflow",
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: "auto",
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                },
                pagination: {
                    el: ".swiper-pagination",
                },
            });

            var seccionDos = new Swiper(".seccion-dos", {
                slidesPerView: 2,
                spaceBetween: 30,
                autoHeight: true,
                autoplay: {
                    delay: 18000,
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                breakpoints: {
                    "@0.00": {
                        slidesPerView: 1,
                        spaceBetween: 10,
                    },
                    "@1.00": {
                        slidesPerView: 2,
                        spaceBetween: 30,
                    },
                }
            });
        </script>
        {% if has_audio %}
            <script type="text/javascript">
                var vAudio = document.getElementById('audioBoda');
                var promise = vAudio.play();
                if (promise !== undefined) {
                    promise.then(_ => {
                        document.getElementById('sonidoMusicaOff').classList.add('d-none');
                        vAudio.muted = false;
                        // console.log('autoplay');
                    }).catch(error => {
                        document.getElementById('sonidoMusicaOn').classList.add('d-none');
                        alert('Verifica los permisos de tu navegador.');
                    });
                } 
                
                document.getElementById('sonidoMusicaOff').addEventListener('click',function(){
                    document.getElementById('sonidoMusicaOn').classList.remove('d-none');
                    this.classList.add('d-none');
                    vAudio.play();
                });

                document.getElementById('sonidoMusicaOn').addEventListener('click',function(){
                    document.getElementById('sonidoMusicaOff').classList.remove('d-none');
                    this.classList.add('d-none');
                    vAudio.pause();
                });
            </script>
        {% endif %}
    </body>
</html>