description = "Default layout"
[seccionuno]
[secciondos]
[secciontres]
[seccioncuatro]
[seccioncinco]

==
<?
use Illuminate\Support\Facades\Hash;
use Invitaciones\Landing\Models\SeccionCuatro;
function onStart(){
    $c = new SeccionCuatro;
    $this['comidas'] = $c->listPreferenciaComida('', '', '');
    $this['bebidas'] = $c->listPreferenciaBebida('', '', '');
    $this['asistencias'] = $c->listAsistencia('', '', '');
    $this['has_audio'] = false;
    if(file_exists(storage_path('app').'/media/i-say-a-little-prayer-for-you-instrumental-version128-kbps.mp3')){
        $this['has_audio'] = true;
        $this['url_audio'] = \Url::to(\System\Classes\MediaLibrary::url('i-say-a-little-prayer-for-you-instrumental-version128-kbps.mp3'));
    }
    if(isset(request()->code)){
        $code = request()->code;
        $sc = SeccionCuatro::where('token', $code)->first();
        if(!is_null($sc)){
            if($sc->active == null && $sc->estatus == '2'){
                $this['blockForm'] = false;
                $sc->estatus = 4;
                $sc->active = true;
                $sc->save();
                $this['sc'] = $sc;
            } elseif((bool)$sc->active == true && $sc->estatus == '4') {
                $this['blockForm'] = true;
                $this['sc'] = $sc;
            } elseif(((bool)$sc->active == false && $sc->estatus == '5') || ((bool)$sc->active == false && $sc->estatus == '6')) {
                $this['blockForm'] = true;
                $this['sc'] = $sc;
            }
        }
    } else {
        $this['blockForm'] = true;
    }
}
?>
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boda de {{ seccionuno.dataSeccion.nombre_novio }} & {{ seccionuno.dataSeccion.nombre_novia }}</title>
        <link href="{{ [
            'assets/less/theme.scss',
            'assets/css/animate.min.css',
            'assets/css/swiper-bundle.min.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navigation animated" id="top-nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <h2 style="font-family: 'Great Vibes', cursive; letter-spacing: 4px;margin-bottom: 0px;font-size: 2.4rem; color: {{ seccionuno.dataSeccion.color_titulo }}">{{ seccionuno.dataSeccion.nombre_novio }} & {{ seccionuno.dataSeccion.nombre_novia }}</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="menuItems">
                    <ul class="navbar-nav" id="top-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#dondeycuando">Dónde & Cuándo</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#hospedaje">Hospedaje</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#dresscode">Código de vestimenta</a>
                        </li> -->
                        <!-- MEDIA (FOTOS, VIDEO y REDES SOCIALES) -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#padrinos">Padrinos</a>
                        </li> -->
                        <!-- MESA DE REGALOS, LUNA DE MIEL (CUENTA BANCO) -->
                        <li class="nav-item">
                            <a class="nav-link" href="#asistencia">Confirmar asistencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fotos">Fotos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#hospedaje-recomendado">Hospedaje Recomendado</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- SECCIOUNO -->
        <section class="hero-area {% if not seccionuno.dataSeccion.background %} bg-1 {% endif %}" {% if seccionuno.dataSeccion.background %} style="background-image: url({{seccionuno.dataSeccion.background.path}});background-repeat: no-repeat;background-position: center;background-size: cover;" {% endif %}>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class="intro-circulo">
                                {% component "seccionuno" %}
                            </div>
                        </div>
                    </div>
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- header close -->

        <!-- SECCIONTRES -->
        <div id="dondeycuando" class="w-100">
            {% component 'secciontres' %}
        </div>
        
        <!-- SECCIONCUATRO -->
        <section id="asistencia" class="reservacion-section">
            {% if sc['estatus'] == '4' %}
                <form id="deseos" method="POST" class="form-reservacion" data-request="seccioncuatro::onSave" data-request-validate data-request-flash data-request-confirm="Deseas enviar la información?">
                    <div class="wrap-send">
                        <div class="enviando">
                            <div class="box">
                                <div class="border one"></div>
                                <div class="border two"></div>
                                <div class="border three"></div>
                                <div class="border four"></div>
                                <div class="line one"></div>
                                <div class="line two"></div>
                                <div class="line three"></div>
                            </div>
                        </div>
                    </div>
                    <div id="confirmacionPartial">
                        <div class="iniciales">
                            <span>G</span>
                            <div class="divisor"></div>
                            <span>X</span>
                        </div>
                        <h4>Confirma tu asistencia</h4>
                        <p class="ninos">Evento con adolescentes mayores de 12 años.</p>
                        <div class="row">
                            <input required="" type="text" placeholder="· Nombre completo" class="usr-nombre" value="{{ sc['nombre_completo'] }}" readonly disabled>
                        </div>
                        <div class="row col-12">
                            <div class="col-md-6 col-6 inputs-cols-left"> 
                                <input type="email" placeholder="· Email" class="usr-correo" value="{{ sc['email'] }}" readonly disabled>
                            </div>
                            <div class="col-md-6 col-6 inputs-cols-right"> 
                                <input type="tel" placeholder="· Teléfono" class="usr-telefono" pattern="[5]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" name="user_telefono" maxlength="10" minlength="10" value="{{ sc['celular'] }}" readonly disabled>
                            </div>
                        </div>
                        <hr>
                        <div class="row col-12">
                            <div class="col-md-12 col-12 inputs-cols-left inputs-cols-right mb-4">
                                <select name="asistencia" id="asistencia" class="asistencia mb-1">
                                    <option value="" disabled="" selected="">· Asistencia</option>
                                    {% for key, asistencia in asistencias %}
                                        <option value="{{ key }}">{{ asistencia }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="asistencia"></div>
                            </div>
                            <div class="col-md-6 col-6 inputs-cols-left">
                                <select name="proteina" id="proteina" class="proteina mb-1">
                                    <option value="" disabled="" selected="">· Preferencia de proteina</option>
                                    {% for key, comida in comidas %}
                                        <option value="{{ key }}">{{ comida }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="proteina"></div>
                            </div>
                            <div class="col-md-6 col-6 inputs-cols-right">
                                <select name="bebida" id="bebida" class="bebida mb-1">
                                    <option value="" disabled="" selected="">· Preferencia de Bebidas</option>
                                    {% for key, bebida in bebidas %}
                                        <option value="{{ key }}">{{ bebida }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="bebida"></div>
                            </div>
                        </div>
                        <div class="row">
                            <textarea type="text" placeholder="· Dedica un mensaje..." class="deseos-invitados mb-1" name="mensaje"></textarea>
                            <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="mensaje"></div>
                        </div>
                        <button type="submit" class="btn-grl">Confirmar</button>
                    </div>
                </form>
            {% elseif sc['estatus'] == '5' %}
                <form id="deseos" class="form-reservacion">
                    <div class="wrap-send">
                        <div class="enviando">
                            <div class="box">
                                <div class="border one"></div>
                                <div class="border two"></div>
                                <div class="border three"></div>
                                <div class="border four"></div>
                                <div class="line one"></div>
                                <div class="line two"></div>
                                <div class="line three"></div>
                            </div>
                        </div>
                    </div>
                    <div id="confirmacionPartial">

                        <div class="iniciales">
                            <span>G</span>
                            <div class="divisor"></div>
                            <span>X</span>
                        </div>
                        <h4>Hola <strong>{{ sc['nombre_completo'] }}</strong>, agradecemos por confirmar tu asistencia.</h4>
                        <p class="ninos">Evento con adolescentes mayores de 12 años.</p>
                        <div class="row">
                            <input required="" type="text" placeholder="· Nombre completo" class="usr-nombre" value="{{ sc['nombre_completo'] }}" readonly disabled>
                        </div>
                        <div class="row col-12">
                            <div class="col-md-6 col-6 inputs-cols-left"> 
                                <input type="email" placeholder="· Email" class="usr-correo" value="{{ sc['email'] }}" readonly disabled>
                            </div>
                            <div class="col-md-6 col-6 inputs-cols-right"> 
                                <input type="tel" placeholder="· Teléfono" class="usr-telefono" pattern="[5]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" maxlength="10" minlength="10" value="{{ sc['celular'] }}" readonly disabled>
                            </div>
                        </div>
                        <hr>
                        <div class="row col-12">
                            <div class="col-md-12 col-12 inputs-cols-left inputs-cols-right mb-4">
                                <select id="asistencia" class="asistencia mb-1" readonly disabled>
                                    {% for key, asistencia in asistencias %}
                                        <option value="{{ key }}" {% if sc['asistencia'] == key %} selected {% endif %}>{{ asistencia }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 col-6 inputs-cols-left">
                                <select id="proteina" class="proteina mb-1" readonly disabled>
                                    {% for key, comida in comidas %}
                                        <option value="{{ key }}" {% if sc['preferencia_comida'] == key %} selected {% endif %}>{{ comida }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 col-6 inputs-cols-right">
                                <select id="bebida" class="bebida mb-1" readonly disabled>
                                    {% for key, bebida in bebidas %}
                                        <option value="{{ key }}" {% if sc['preferencia_bebidas'] == key %} selected {% endif %}>{{ bebida }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <textarea type="text" placeholder="· Dedica un mensaje..." class="deseos-invitados mb-1" readonly disabled>{{ sc['mensaje'] }}</textarea>
                        </div>
                    </div>
                </form>
            {% elseif sc['estatus'] == '6' %}
                <form id="deseos" class="form-reservacion">
                    <div class="wrap-send">
                        <div class="enviando">
                            <div class="box">
                                <div class="border one"></div>
                                <div class="border two"></div>
                                <div class="border three"></div>
                                <div class="border four"></div>
                                <div class="line one"></div>
                                <div class="line two"></div>
                                <div class="line three"></div>
                            </div>
                        </div>
                    </div>
                    <div class="iniciales">
                        <span>G</span>
                        <div class="divisor"></div>
                            <span>X</span>
                        </div>
                        <br>
                        <h4>Gracias, código NO valido.</h4>
                        <br>
                    </div>
                </form>
            {% else %}
                <form id="deseos" class="form-reservacion">
                    <div class="wrap-send">
                        <div class="enviando">
                            <div class="box">
                                <div class="border one"></div>
                                <div class="border two"></div>
                                <div class="border three"></div>
                                <div class="border four"></div>
                                <div class="line one"></div>
                                <div class="line two"></div>
                                <div class="line three"></div>
                            </div>
                        </div>
                    </div>
                    <div id="confirmacionPartial">
                        <div class="iniciales">
                            <span>G</span>
                            <div class="divisor"></div>
                            <span>X</span>
                        </div>
                        <h4>Confirma tu asistencia</h4>
                        <p class="ninos">Evento con adolescentes mayores de 12 años.</p>
                        <div class="row">
                            <input required="" type="text" placeholder="· Nombre completo" class="usr-nombre" readonly disabled>
                        </div>
                        <div class="row col-12">
                            <div class="col-md-6 col-6 inputs-cols-left"> 
                                <input type="email" placeholder="· Email" class="usr-correo" readonly disabled>
                            </div>
                            <div class="col-md-6 col-6 inputs-cols-right"> 
                                <input type="tel" placeholder="· Teléfono" class="usr-telefono" pattern="[5]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" maxlength="10" minlength="10" readonly disabled>
                            </div>
                        </div>
                        <hr>
                        <div class="row col-12">
                            <div class="col-md-12 col-12 inputs-cols-left inputs-cols-right mb-4">
                                <select id="asistencia" class="asistencia mb-1">
                                    <option value="" disabled="" selected="">· Asistencia</option>
                                    {% for key, asistencia in asistencias %}
                                        <option value="{{ key }}">{{ asistencia }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="asistencia"></div>
                            </div>
                            <div class="col-md-6 col-6 inputs-cols-left">
                                <select id="proteina" class="proteina mb-1">
                                    <option value="" disabled="" selected="">· Preferencia de proteina</option>
                                    {% for key, comida in comidas %}
                                        <option value="{{ key }}">{{ comida }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="proteina"></div>
                            </div>
                            <div class="col-md-6 col-6 inputs-cols-right">
                                <select id="bebida" class="bebida mb-1">
                                    <option value="" disabled="" selected="">· Preferencia de Bebidas</option>
                                    {% for key, bebida in bebidas %}
                                        <option value="{{ key }}">{{ bebida }}</option>
                                    {% endfor %}
                                </select>
                                <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="bebida"></div>
                            </div>
                        </div>
                        <div class="row">
                            <textarea type="text" placeholder="· Dedica un mensaje..." class="deseos-invitados mb-1" name="mensaje"></textarea>
                            <div class="alert alert-light link-danger mb-0 pt-1 pb-1" role="alert" data-validate-for="mensaje"></div>
                        </div>
                        <button type="submit" class="btn-grl">Confirmar</button>
                    </div>
                </form>
            {% endif %}
        </section>

        <!-- SECCIONCINCO -->
        <section class="" id="fotos" style="padding: 64px 0;background: #f9f4ef">
            {% component 'seccioncinco' %}
        </section><!-- header close -->

        <!-- SECCIODOS -->
        {% if secciondos.dataSeccion %}
            <section class="hero-area bg-1" id="hospedaje-recomendado" style="background-image: url({{ 'assets/images/background_seccion_dos.jpg' | theme }});background-repeat: no-repeat;background-position: center center;background-size: cover; background-color: #252c4a; position: relative;overflow: hidden;display: flex;align-items: center;flex-wrap: nowrap;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                {% component "secciondos" %}
                            </div>
                        </div>
                    </div><!-- .row close -->
                </div><!-- .container close -->
            </section><!-- header close -->
        {% endif %}

        {#
            <section class="hero-area bg-1" id="hospedaje" style="background-color: {{ seccionseis.dataSeccion.background_color}};">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center" style="color:{{ seccionseis.dataSeccion.text_color}}">
                            {% component 'seccionseis' %}
                            </div>
                        </div>
                        <!--
                            <div class="col-md-5 wow zoomIn">
                                <div class="block">
                                    <div class="counter text-center">
                                        <ul id="countdown_dashboard">
                                            <li>
                                                <div class="dash days_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Days</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash hours_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Hours</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash minutes_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Minutes</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash seconds_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Seconds</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        -->
                    </div><!-- .row close -->
                </div><!-- .container close -->
            </section><!-- header close -->

            <section class="hero-area bg-1" id="hospedaje" style="background-color: {{ seccionsiete.dataSeccion.background_color}};">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center" style="color:{{ seccionsiete.dataSeccion.text_color}}">
                            {% component 'seccionsiete' %}
                            </div>
                        </div>
                        <!--
                            <div class="col-md-5 wow zoomIn">
                                <div class="block">
                                    <div class="counter text-center">
                                        <ul id="countdown_dashboard">
                                            <li>
                                                <div class="dash days_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Days</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash hours_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Hours</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash minutes_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Minutes</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash seconds_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Seconds</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        -->
                    </div><!-- .row close -->
                </div><!-- .container close -->
            </section><!-- header close -->

            <section class="hero-area bg-1" id="hospedaje" style="background-color: {{ seccionocho.dataSeccion.background_color}};">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center" style="color:{{ seccionocho.dataSeccion.text_color}}">
                            {% component 'seccionocho' %}
                            </div>
                        </div>
                        <!--
                            <div class="col-md-5 wow zoomIn">
                                <div class="block">
                                    <div class="counter text-center">
                                        <ul id="countdown_dashboard">
                                            <li>
                                                <div class="dash days_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Days</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash hours_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Hours</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash minutes_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Minutes</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash seconds_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Seconds</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        -->
                    </div><!-- .row close -->
                </div><!-- .container close -->
            </section><!-- header close -->

            <section class="hero-area bg-1" id="hospedaje" style="background-color: {{ seccionnueve.dataSeccion.background_color}};">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center" style="color:{{ seccionnueve.dataSeccion.text_color}}">
                            {% component 'seccionnueve' %}
                            </div>
                        </div>
                        <!--
                            <div class="col-md-5 wow zoomIn">
                                <div class="block">
                                    <div class="counter text-center">
                                        <ul id="countdown_dashboard">
                                            <li>
                                                <div class="dash days_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Days</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash hours_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Hours</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash minutes_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Minutes</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dash seconds_dash">
                                                    <div class="digit">0</div>
                                                    <div class="digit">0</div>
                                                    <span class="dash_title">Seconds</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        -->
                    </div><!-- .row close -->
                </div><!-- .container close -->
            </section><!-- header close -->
        #}

        {% if has_audio %}
            <div class="musicaOff" target="_blank" id="sonidoMusicaOff" style="cursor: pointer;">
                <img src="{{ 'assets/images/volume-up-solid.svg' | theme }}" alt="">
            </div>
            <div class="musicaOn" target="_blank" id="sonidoMusicaOn" style="cursor: pointer;">
                <img src="{{ 'assets/images/musica-on-4.gif' | theme }}">
            </div>
            <audio id="audioBoda" loop="" class="d-none">
                <source src="{{ url_audio }}" type="audio/mpeg">
            </audio>
        {% endif %}

        <script src="{{ [
            '@jquery',
            'assets/js/bootstrap.bundle.min.js',
            'assets/js/app.js',
            'assets/js/swiper-bundle.min.js'
        ]|theme }}"></script>

        {% framework extras %}

        <script type='text/javascript'>
            contador('{{secciontres.dataSeccion.fecha_celebracion}}');

            var swiper = new Swiper(".mySwiper", {
                effect: "coverflow",
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: "auto",
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                },
                pagination: {
                    el: ".swiper-pagination",
                },
            });
        </script>
        {% if has_audio %}
            <script type="text/javascript">
                var vAudio = document.getElementById('audioBoda');
                var promise = vAudio.play();
                if (promise !== undefined) {
                    promise.then(_ => {
                        document.getElementById('sonidoMusicaOff').classList.add('d-none');
                        vAudio.muted = false;
                        // console.log('autoplay');
                    }).catch(error => {
                        document.getElementById('sonidoMusicaOn').classList.add('d-none');
                        alert('Verifica los permisos de tu navegador.');
                    });
                } 
                
                document.getElementById('sonidoMusicaOff').addEventListener('click',function(){
                    document.getElementById('sonidoMusicaOn').classList.remove('d-none');
                    this.classList.add('d-none');
                    vAudio.play();
                });

                document.getElementById('sonidoMusicaOn').addEventListener('click',function(){
                    document.getElementById('sonidoMusicaOff').classList.remove('d-none');
                    this.classList.add('d-none');
                    vAudio.pause();
                });
            </script>
        {% endif %}
    </body>
</html>